@using NewsWebSiteScraper.Models.Home;
@model DisplayListOfMostRecentNewsViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Most Recent News</h1>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        @foreach (var newsItem in Model.News)
        {
            <div class="col">
                <a href="@Url.Action("NewsDetails", "News", new { id = newsItem.Id })" class="card mb-4 shadow-sm h-100">
                    <div class="ratio ratio-16x9">
                        <img src="@newsItem.ImageUrl" class="card-img-top rounded-0" alt="News Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@newsItem.Title</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">@newsItem.Date?.ToString("dddd, dd MMMM yyyy")</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
